{% extends "admin/base_site.html" %}

{% block content %}
  <h2>AAAAAAAAAAAAAAStart Patient Examination</h2>

  {% if success_message %}
    <div class="success">
      <strong>{{ success_message }}</strong>
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    
    <label for="patient">Select Patient:</label>
    <select name="patient" class="form-control">
      {% for patient in patients %}
        <option value="{{ patient.id }}">{{ patient.first_name }} {{ patient.last_name }}</option>
      {% endfor %}
    </select>
    
    <br>
    <button type="submit" class="button button-primary">Start Examination</button>
  </form>
{% endblock %}
